---
layout: default
title: 13f-4102
weight: 0
---

<h1>13f 4102: Algorithms</h1>
<p>This course meets in Rice Hall Auditorium on Tue Thu at 12.30--1.45.  There is one assigned TA and 5 undergraduates who will hold office hours throughout the semester.</p>


<p>See the latest version of this course <a href="../16s-4102">here</a>.

<!--div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains "13f4102" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
<article class="post-content">
    {{ post.content }}
  </article>


      </li>
      {% endif %}
    {% endfor %}
  </ul-->
</div>
