---
layout: default
title: "16s-4102: Algorithms"
weight: 0
---



<!--<p><b>11/10/15: If SIS does not allow you to enroll:</b> I am happy to course-action you into this course.  Fill out the form, scan it, email it, and I will sign it.  Otherwise, you can try this maneuver on the first day of class. I can't change the rules that SIS imposes on registration.</p> -->

<p>This course meets in Rice Hall Auditorium on Tue Thu at 3.30--4.45.</p>

<p>My office hours are Tue,Thu 1.45-3p in my office which is the 5th floor of Rice, #512.  You can also write me to make a different appt if you cannot make that time. Here is the schedule:
<ul>
  <li>Tue, Thu, 1-3p, Rice 512 (abhi)
  <li>Wed, 1.30-4p, Rice 512 lounge (Saba)
  <li>Thu 11-1, Rice 512 lounge (Paul)
  <li>Thu 5-7p, Rice 512 lounge (Chunkun)
  <li>Fri, 2-4p, Rice 430 (Frank)
</ul>
</p>

<h2>Homeworks</h2>
<ul class="horiz">
  <li><a href="../dl/16s4102/final16.pdf">Final</a> [<a href="../dl/16s4102/final16.tex">tex</a>],<a href="https://church.cs.virginia.edu/16s-4102/submission.html">due Wed 5/11</a>.


  <li><a href="../dl/16s4102/hw8.pdf">H8</a> [<a href="../dl/16s4102/hw8.tex">tex</a>],<a href="https://church.cs.virginia.edu/16s-4102/submission.html">due Wed 5/4</a>.

    Extra credit: <a href="../dl/16s4102/extra.pdf">Extra</a> [<a href="../dl/16s4102/extra.tex">tex</a>]
  </li>


  <li><a href="../dl/16s4102/hw7.pdf">H7</a></li>


  <li><a href="../dl/16s4102/hw6.pdf">H6</a></li>

  <li><a href="../dl/16s4102/hw5.pdf">H5</a> </li>
  <li><a href="../dl/16s4102/midterm16.pdf">Midterm</a> </li>
  <li><a href="../dl/16s4102/hw4.pdf">H4</a> </li>
  <li><a href="../dl/16s4102/hw3.pdf">H3</a> </li>
  <li><a href="../dl/16s4102/hw2.pdf">H2</a> </li>
  <li><a href="../dl/16s4102/hw1.pdf">H1</a> </li>
  <li><a href="../dl/16s4102/hw0.pdf">H0</a> </li>
</ul>

<p>I've posted the <a href="caric/">caricatures</a> you produced for the first assignment.</p>

<h2>Recent Lecture Videos/Slides</h2>
<ul class="horiz">
  <li><a href="L27">L27: Reductions & Data structures</a></li>
  <li><a href="L26">L26: NP and reductions</a></li>
  <li><a href="L25">L25: LP and reductions</a></li>
  <li><a href="L24">L24: Linear Programming and applications</a></li>
  <li><a href="L23">L23: Stable matching algorithm</a></li>
  <li><a href="L22">L22: Edmonds-Karp Max flow, Bipartite matching and applications </a></li>
  <li><a href="L21">L21: Max flow, Ford-Fulkerson</a></li>
  <br/><br/>
  <li><a href="L20">L20: All-pairs shortest paths, Maxflow </a></li>
  <br/><br/>
  <li><a href="L19">L19: Shortest Paths, Bellman-Ford, All-pairs shortest paths </a></li>
  <li><a href="L18">L18: Shortest Paths, Dijkstra, Breadth-first search </a></li>
  <li><a href="L17">L17: Greedy: MST, Prim Algorithms </a></li>
  <li><a href="L16">L16: Greedy: MST, Kruskal + Generic </a></li>
  <li><a href="L15">L15: Greedy Algorithms </a></li>
  <li><a href="L14">L14: Greedy Algorithms </a></li>
  <br/>
  <br/>
  <li><a href="L13">L13: Review </a></li>
  <li><a href="L12">L12: (DP) Gerrymandering </a></li>
  <li><a href="L11">L11: (DP) Typesetting </a></li>
  <li><a href="L10">L10: (DP) Matrix Chain, Seam Carving</a></li>
  <li><a href="L9">L9: Dynamic Programming Intro</a></li>
  <br/><br/>
  <li><a href="L8">L8: FFT, Median</a></li>
  <li><a href="L7">L7: Matrix mult, FFT</a></li>
  <li><a href="L6">L6: Closest Points, Arbitrage</a></li>
  <li><a href="L5">L5: Masters Theorem, Substitution</a></li>
  <li><a href="L4">L4: Induction, Masters thm</a></li>
  <li><a href="L3">L3: Tree, Induction</a></li>
  <li><a href="L2">L2: Recurrences</a></li>
  <li><a href="L1">L1: Intro</a></li>
</ul>


<h2>News</h2>
<a class="twitter-timeline" href="https://twitter.com/cs4102" data-widget-id="694908149887819777" data-height="400">Tweets by @cs4102</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<h2>Textbook</h2>

<p>You do not need a textbook for this course, but if you would like to purchase one for review, I recommend the following two books:</p>
<ul>
<li>CLRS: "<a href="http://www.amazon.com/Introduction-Algorithms-Thomas-H-Cormen/dp/0262033844">Introduction to Algorithms</a>",</li>
<li>Kleinberg+Tardos, "<a href="http://www.amazon.com/Algorithm-Design-Jon-Kleinberg/dp/0321295358">Algorithm Design</a>"</li>
</ul>
<p>In addition, I recommend the following Coursera links for you to review between and after my lectures:</p>
<ul>
<li>Tim Roughgarden's  open course <a href="https://class.coursera.org/algo-004/lecture/preview">Alg Part I</a></li>
<li>Wayne+Sedgewick's course <a href="https://class.coursera.org/algs4partI-003/class/index">Alg Design Part I</a></li>
</ul>

<h2>LaTeX</h2>
<p>You should prepare your homework solutions using LaTeX, and submit PDFs to the course submission site. LaTeX is a free, open-source scientific document preparation system; most CS technical publications are prepared using this tool.  Every one of my previous advisees highly recommends it for preparing your senior thesis.
</p>

<p><a href="http://pages.uoregon.edu/koch/texshop/" title="Texshop">TexShop</a> is a great tex editor for the Mac platform.  For windows, I have heard good feedback about <a href="http://www.texniccenter.org/">TexNiCenter</a>.</p>
<p>The <a href="http://tobi.oetiker.ch/lshort/lshort.pdf">Not so short intro</a> to latex is a good reference.  <a href="http://www.tug.org/twg/mactex/tutorials/ltxprimer-1.0.pdf">This</a> is another tutorial for latex from a user group.</p>


<p>You may also consider using <a href="https://www.sharelatex.com">ShareLatex</a> which is a web-based latex system.  Using it avoids having to install your own latex system.</p>

<h2>Expectations</h2>
<p>This is a demanding course that assigns several homeworks, a take-home midterm, and a take-home exam.  I have run the course several times.  Many people loved it, but some people complained about the pace, the workload, and the latency in receiving graded homeworks.  TAs grade the homeworks as fast as they can, but this course only has 1 or 2 for 150 students.  I encourage group/collaborative work; most people enjoy that aspect.  I make myself available during evenings for Google Hangouts office hours, and I also record my lectures so that you can review them offline.
 That said, this course will ask you to pay attention during class, take notes, review the recordings to catch parts that you did not understand during class.  
</p>

<h2>Old Lectures</h2>
To help you decide whether to take the course, here are the annotated lecture notes from 13f (not all slides covered in each lecture); 16s will closely follow the schedule, but there will be a few additional/different topics.


<ul class="horiz">
<li> <a href="../dl/16s4102/L1-4102-F13-delivered.pdf">L1: Intro</a>
<li> <a href="../dl/16s4102/L2-4102-F13-delivered.pdf">L2: Divide & Conquere</a>
<li> <a href="../dl/16s4102/L3-4102-F13-delivered.pdf">L3: Mult, Merge</a>
<li> <a href="../dl/16s4102/L4-4102-F13.pdf">L4: Recurrences, Master's Thm</a>
<li> <a href="../dl/16s4102/L5-4102-F13-delivered.pdf">L5: Master's Thm, Closest Pair</a>
<li> <a href="../dl/16s4102/L6-4102-F13-delivered.pdf">L6: Closest Pair, Matrix, Median</a>
<li> <a href="../dl/16s4102/L7-4102-F13-delivered.pdf">L7: Median, Arbitrage, FFT</a>
<li> <a href="../dl/16s4102/L8-4102-F13-delivered.pdf">L8: FFT, Dynamic Prog</a>
<li> <a href="../dl/16s4102/L9-4102-F13-delivered.pdf">L9: Log Cutter, Matrix chains</a>
<li> <a href="../dl/16s4102/L10-4102-F13-delivered.pdf">L10: Matrix Chains, Typesetting</a>
<li> <a href="../dl/16s4102/L11-4102-F13-delivered.pdf">L11: Typesetting, seam carving</a>
<li> <a href="../dl/16s4102/L12-4102-F13-delivered.pdf">L12: Seams, Gerrymandering</a>
<li> <a href="../dl/16s4102/L13-4102-F13-delivered.pdf">L13: Greedy</a>
<li> <a href="../dl/16s4102/L14-4102-F13-delivered.pdf">L14: Caching, Huffman</a>
<li> <a href="../dl/16s4102/L15-4102-F13-delivered.pdf">L15: Huffman Coding</a>
<li> <a href="../dl/16s4102/L16-4102-F13-delivered.pdf">L16: Min spanning tree</a>
<li> <a href="../dl/16s4102/L17-4102-F13-delivered.pdf">L17: MST, Shortest paths</a>
<li> <a href="../dl/16s4102/L18-4102-F13-delivered.pdf">L18: Shortest paths, Bellman-Ford</a>
<li> <a href="../dl/16s4102/L19-4102-F13.pdf">L19: All pairs</a>
<li> <a href="../dl/16s4102/L20-4102-F13.pdf">L20: Max flow</a>
<li> L21: (Guest) Parallel Merge
<li> <a href="../dl/16s4102/L22-4102-F13-delivered.pdf">L22: Max flow</a>
<li> L23: (Guest)
<li> <a href="../dl/16s4102/L24-4102-F13-delivered.pdf">L24: Max flow</a>
<li> <a href="../dl/16s4102/L25-4102-F13-notes.pdf">L25: Reductions</a>
<li> <a href="../dl/16s4102/L26-4102-F13-delivered.pdf">L26: Stable Matching</a>
<li> <a href="../dl/16s4102/L27-4102-F13-delivered.pdf">L27: Randomization</a>
<li> <a href="../dl/16s4102/L28-4102-F13-delivered.pdf">L28: Crypto, Review</a>
</ul>


