---
layout: default
title: 16s-4102 Submission
weight: 0
---

<h1><a href="../16s-4102">16s 4102</a>: Algorithms Submission Page</h1>

<h2>H0</h2>
Due Fri Jan 29, 5pm.

<p>Please submit one file.  The written answers should be submitted as a PDF.  Any resubmission will overwrite the previous version.</p>
<form action="https://church.cs.virginia.edu/16s-4102/ps0-submit.cgi" enctype="multipart/form-data" method="post">Final pdf to upload:<br />
<input name="ssfile" type="file" />
<input name="Submit" type="submit" value="Submit" /></form>
<p>You can view your submission <a href="https://church.cs.virginia.edu/16s-4102/ps0-view.cgi">here</a>.
