<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class="page-content">
      <div class="wrapper">

      	<h2>{{ .Title }}</h2>
		<article class="article-content">
        {{ .Content }}
		</article>

      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>