<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="{{ .Site.Title }}">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  <link href="{{ .Site.BaseURL }}videojs/video-js.min.css" rel="stylesheet">

  <link href="{{ .Site.BaseURL }}videojs/videojs.th.css" rel="stylesheet">
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script src="{{ .Site.BaseURL }}videojs/video.min.js"></script>
  <script src='{{ .Site.BaseURL }}videojs/videojs.th.js'></script>
  <script type="text/javascript">
    var enforce = "";
    if ((enforce == window.location.host) && (window.location.protocol != "https:"))
      window.location = window.location.toString().replace(/^http:/, "https:");
  </script>
  <script>
  Element.prototype.documentOffsetTop = function () {
    return this.offsetTop + ( this.offsetParent ? this.offsetParent.documentOffsetTop() : 0 );
};


function goto(ts) {
  videojs('player').currentTime(ts);
  videojs('player').play();
  var top = document.getElementById('player').documentOffsetTop() - ( window.innerHeight / 2 );
  window.scrollTo( 0, top );
}
</script>
</head>
