<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class="page-content">
      <div class="wrapper">
        
<!--{{ range .Data.Pages }}
    {{if eq .Type "index" }} 
        {{.Content}}
    {{end}}
{{ end }}-->

<div class="home">
  <p>
    I have recently (summer'16) moved from the University of Virginia to <a href="https://www.ccs.neu.edu">Northeastern University</a> where I am an associate professor of computer science.  I work in computer security and cryptography with the aim of developing novel systems that incorporate cryptographic security techniques.   Some of my work focuses on building secure computation protocols, some of my work focuses on building systems that ensure both anonymity and accountability, and some of my work studies the complexity of encryption schemes that are suitable for the internet.  My email is abhi @ neu.edu.
  </p>



  <h1 class="page-heading">Research</h1>
  <p>My research is supported by the National Science Foundation, DARPA, the Microsoft Faculty Fellowship Award, the FEST fellowship award, an Amazon Research award, an SAIC research award, a Jacobs Future of Money Workshop research prize, and the Google Faculty Research Award.</p>

  <p>See <a href="https://anonize.org">anonize.org</a> for our implementation of the ANONIZE scheme.  The implementation was used to run course reviews at CornellTech and class surveys at U of Virginia.
  Here is a <a href="http://www.wired.com/2015/09/new-crypto-tool-makes-anonymous-surveys-truly-anonymous/">Wired story</a> about the scheme.
   Contact me if you are interested in using it.</p>

  
  <ul class="post-lis">
  {{ range where .Data.Pages "Type" "research" }}
  <li><p>
  <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
  {{ .Params.authors }}</br>
  {{ .Params.conf }}</p>
  </li>
{{ end }}
  </ul>

  <h1 class="page-heading">Students</h1>
  <p> My PhD students include Mona Sergi (2013, now at Google), Chih-hao Shen (2014, now at Google), Ben Kreuter (now at Google), Ben Terner (Masters 2015, going to UCSD to complete PhD) and Jack Doerner (starting).</p>

</div>

  

      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>