<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class="page-content">
      <div class="wrapper">
        
		<article class="article-content">
      <h3>{{ .Title }}</h3>

        {{ .Content }}
		</article>

      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>